@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-color: #171717;
  --color-border: rgb(209 213 219 / var(--tw-border-opacity, 1));
  --color-border-focus: rgb(139 92 246 / var(--tw-border-opacity, 1));
}

.light {
  --background: #ffffff;
  --foreground: #171717;
  --color-border: rgb(209 213 219 / var(--tw-border-opacity, 1));
  --color-border-focus: rgb(139 92 246 / var(--tw-border-opacity, 1));
}

.dark {
  --background: #1c1c1c;
  --foreground: #ffffff;
  --color-border: rgb(74, 74, 74);
  --color-border-focus: rgb(139 92 246 / var(--tw-border-opacity, 1));
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Google Sans", Helvetica, sans-serif;
}
